extends layout

block link
	link(rel='stylesheet', href='stylesheets/tic-tac-toe.css')

block content
	.container
		div.page-header
			h3 Tic Tac Toe
		.col-sm-6.col-md-3.input-group#nameInputGroup
			input.form-control#nameInput(type="text", placeholder="Nickname")
			span.input-group-btn
				button.btn.btn-default#playBtn(type="button") Play
		hr
		- var n = 0
		.row#row0
			while n < 4
				.col-sm-6.col-md-3.panel.panel-default(table-index= n)
					.panel-heading
						.row
							.col-xs-6
								h6.col-xs-6.text-left X
								h6.col-xs-6.text-left#countdown0 0
								h6.text-left
									span.playerName#p0Name &nbsp;
							.col-xs-6
								h6.col-xs-6.text-right#countdown1 0
								h6.col-xs-6.text-right O
								h6.text-right
									span.playerName#p1Name &nbsp;
					.panel-body
						table
							tr
								td.text-center(cellId="0")
									strong
								td.text-center(cellId="1")
									strong
								td.text-center(cellId="2")
									strong
							tr
								td.text-center(cellId="3")
									strong
								td.text-center(cellId="4")
									strong
								td.text-center(cellId="5")
									strong
							tr
								td.text-center(cellId="6")
									strong
								td.text-center(cellId="7")
									strong
								td.text-center(cellId="8")
									strong
				- n++
		- var n = 0
		.row#row1
			while n < 4
				.col-sm-6.col-md-3.panel.panel-default(table-index= n+4)
					.panel-heading
						.row
							.col-xs-6
								h6.col-xs-6.text-left X
								h6.col-xs-6.text-left#countdown0 0
								h6.text-left
									span.playerName#p0Name &nbsp;
							.col-xs-6
								h6.col-xs-6.text-right#countdown1 0
								h6.col-xs-6.text-right O
								h6.text-right
									span.playerName#p1Name &nbsp;
					.panel-body
						table
							tr
								td.text-center(cellId="0")
									strong
								td.text-center(cellId="1")
									strong
								td.text-center(cellId="2")
									strong
							tr
								td.text-center(cellId="3")
									strong
								td.text-center(cellId="4")
									strong
								td.text-center(cellId="5")
									strong
							tr
								td.text-center(cellId="6")
									strong
								td.text-center(cellId="7")
									strong
								td.text-center(cellId="8")
									strong
				- n++

block script
	script(src='javascripts/Player.js')
	script(src='javascripts/Table.js')
	script(src='javascripts/boardStyle.js')
	script(src='javascripts/tic-tac-toe.js')