extends layout

block content
	.container
		div.page-header
			h3 Tic Tac Toe
		div#information
		div#game-field
			iframe(src="board", width="100%", height="600")
			.input-group.hide#nameInputGroup
				input.form-control#nameInput(type="text", placeholder="Username")
				span.input-group-btn
					button.btn.btn-default#playBtn(type="button") Play
			.alert.alert-info.hide#connecting(role="alert") Connecting to game server...
			.alert.alert-success.hide#connected(role="alert") Connection successful

block script
	script(src='javascripts/Board.js')
	script(src='javascripts/tic-tac-toe.js')